* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
}

h1, h2, p, li, em, strong {
  background-color: #DDE0E3;    /* Light gray */
  color: #383838;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

br {
  padding: 10px;
}

.unordered {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  border-right: 1px solid #bbb;
}

.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #606060;
}
.page {
  width: 1200px;
  margin: 25px auto;
  padding: 30px;
  background-color: #DDE0E3;
  border: 1px solid #5D6063;
}

p:first-of-type {
  color: #333;
  font-style: italic;
}


.button:link,                 /* Change this */
.button:visited {             /* Change this */
  display: block;             /* Add this */
  text-decoration: none;      /* Add this */

  color: #FFF;                /* The rest is the same */
  background-color: #333;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

#button-2 {
  background-color: #D55C5F;    /* Red */
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}

.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #EEB75A;     /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #EEB75A;     /* Yellow */
}
